<div class="row">
	<div class="col-md-12">
		<h1  style="border-bottom: 1px solid #333;padding-bottom: 10px">
			Edit User <small style="font-size:0.4em;color:{{msg_color}}">{{msg}}</small>
			<small class="pull-right" style="font-size:0.5em">Select User : <select ng-options="user as user.username for user in users" ng-model="selectedUser" ng-change="selectUser()"></select></small>
		</h1>
	</div>
</div>

<div class="row" style="display:{{show_form}}">
	<div class="col-md-12">
		<form ng-submit="saveUser()" name="editUser">
			<table width="100%">
				<tr>
					<td style="text-align:right">Username :</td>
					<td>
						<input type="text" ng-disabled="input_disabled" name="username" ng-model="user.username" placeholder="Enter your username..." required />
						<span ng-mohan="" ng-show="editUser.username.$invalid">Username must be 6 to 10 charactors long.</span>
					</td>
				</tr>
				<tr>
					<td style="text-align:right">Password :</td>
					<td>
						<input type="password" ng-disabled="input_disabled" name="password" ng-model="user.password" placeholder="Enter your password..." required />
						<span ng-show="editUser.password.$invalid">Its required.</span>
					</td>
				</tr>
				<tr>
					<td style="text-align:right">Email :</td>
					<td>
						<input type="email" ng-disabled="input_disabled" name="email" ng-model="user.email" placeholder="Enter your email..." required />
						<span ng-show="editUser.email.$invalid">Invalid e-mail address</span>
						<span ng-show="editUser.email.$valid">Ok</span>
					</td>
				</tr>
				<tr>
					<td style="text-align:right">Name :</td>
					<td>
						<input type="text" ng-disabled="input_disabled" name="name" ng-model="user.name" placeholder="Enter your name..." required />
					</td>
				</tr>
				<tr>
					<td style="text-align:right">Mobile :</td>
					<td>
						<input type="text" ng-disabled="input_disabled" name="mobile" ng-model="user.mobile" placeholder="Enter your mobile number..." required />
					</td>
				</tr>
				<tr>
					<td></td>
					<td style="text-align:left">
						<input type="submit" value="Save" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>